---
layout: default
slug: area
---

<div class="area-hero"></div>

<div class="container pb-4 pb-md-5">

    <div class="row">
        <div class="col-md-8" style="margin-top: -8rem;">
            <div class="bg-white shadow-lg border rounded p-4 p-lg-5 mb-3">
                <h2 class="h5">Your area</h2>
                <h3 class="h2 mb-4">London Borough of Enfield</h3>
                <ul class="list-inline">
                    <li class="list-inline-item pe-4">
                        Population
                        <span class="h4 d-block">333,587</span>
                    </li>
                    <li class="list-inline-item pe-4">
                        Homes
                        <span class="h4 d-block">127,472</span>
                    </li>
                    <li class="list-inline-item pe-4">
                        Carbon neutral goal
                        <span class="h4 d-block">2040</span>
                    </li>
                </ul>
                <p class="border-top pt-4 mb-0">
                    Thinking of moving?
                    <a href="#" class="disabled">See stats for nearby areas</a>
                </p>
            </div>
        </div>
        <div class="col-md-4 text-end pt-3">
            <p><small>Photo credit: <a href="https://www.flickr.com/photos/arenamontanus/15432906024">Anders Sandberg</a></small></p>
        </div>
    </div>

    <div class="my-5 text-center">
        <h2>Enfield’s carbon challenges</h2>
        <p>These are the top two contributors to emissions in the Enfield area, based on the latest government data.</p>
        <div class="row my-4 my-lg-5 justify-content-center text-start">
            <div class="col-sm-6 d-flex mb-4 mb-sm-0">
                <div class="bg-white border p-3 p-lg-4 rounded flex-grow-1">
                    {% include icons/house.html classes="display-1 text-green-500 mb-3" %}
                    <h3>Housing</h3>
                    <p>Housing is responsible for 42% of Enfield’s emissions – higher than average in the UK.</p>
                    <h4 class="text-red-500 mb-3 mt-4">What needs to change?</h4>
                    <p><mark>2,592 heat pumps</mark> will need to be installed each year to meet 2030 targets.</p>
                    <p class="mb-0"><mark>5,848 homes a year</mark> will need insulation upgrades to ensure all homes are properly insulated by 2035.</p>
                </div>
            </div>
            <div class="col-sm-6 d-flex">
                <div class="bg-white border p-3 p-lg-4 rounded flex-grow-1">
                    {% include icons/car.html classes="display-1 text-green-500 mb-3" %}
                    <h3>Transport</h3>
                    <p>Transport is responsible for 34% of Enfield’s emissions.</p>
                    <h4 class="text-red-500 mb-3 mt-4">What needs to change?</h4>
                    <p>Enfield needs to install at least <mark>1,096 electric vehicle charging points</mark> by 2030.</p>
                    <p class="mb-0">The proportion of people commuting by low-carbon options needs to rise <mark>from 51% to 80%</mark>, meaning massive investment in transport infrastructure.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="my-5 text-center">
        <span class="d-block bg-white mx-auto mb-5" style="height: 0.5rem; width: 50%;"></span>
        <h2 class="h5">Your job</h2>
        <h3 class="h2 mb-4">
            <span class="text-red-500 me-2" style="font-size: 0.8em;"><span class="triangle-down"></span></span>
            Flight attendant
        </h3>
        <p class="mx-auto" style="max-width: 38em;">There is likely to be less demand for this role in Enfield over the next 5–10 years.</p>
        <p class="mx-auto" style="max-width: 38em;">But, if you’re looking to secure your future, there <em>are</em> a number of green jobs you could switch to…</p>
        <span class="d-block bg-white mx-auto mt-5" style="height: 0.5rem; width: 50%;"></span>
    </div>

    <div class="my-5 text-center">
        <h2 class="mb-4">The future of jobs in Enfield</h2>
        <p>The biggest job opportunity areas, based on Enfield’s climate strategy and demographics.</p>
        <p>Most of the jobs here <em>already exist</em>, and training pathways are available to help you re-skill.</p>
        <div class="row my-4 my-lg-5 text-start">
            <div class="col-sm-6 d-flex mb-4 mb-sm-0">
                <div class="bg-white border p-3 p-lg-4 rounded flex-grow-1">
                    {% include icons/house.html classes="display-1 text-green-500 mb-3" %}
                    <h3>Jobs in housing retrofit</h3>
                    <ul class="list-group mt-3">
                        <li class="list-group-item">
                            <span class="text-green-500 me-2"><span class="triangle-up"></span></span>
                            Retrofit coordinator
                        </li>
                        <li class="list-group-item">
                            <span class="text-green-500 me-2"><span class="triangle-up"></span></span>
                            Solar panel technician
                        </li>
                        <li class="list-group-item">
                            <span class="text-green-500 me-2"><span class="triangle-up"></span></span>
                            Home energy installer
                        </li>
                        <li class="list-group-item text-muted">…and more</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 d-flex">
                <div class="bg-white border p-3 p-lg-4 rounded flex-grow-1">
                    {% include icons/car.html classes="display-1 text-green-500 mb-3" %}
                    <h3>Jobs in transport</h3>
                    <ul class="list-group mt-3">
                        <li class="list-group-item">
                            <span class="text-green-500 me-2"><span class="triangle-up"></span></span>
                            Bicycle repairer
                        </li>
                        <li class="list-group-item">
                            <span class="text-green-500 me-2"><span class="triangle-up"></span></span>
                            E-cargo bike courier
                        </li>
                        <li class="list-group-item">
                            <span class="text-green-500 me-2"><span class="triangle-up"></span></span>
                            Civil engineer
                        </li>
                        <li class="list-group-item text-muted">…and more</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="my-4 my-lg-5 text-center">
        <span class="d-block bg-white mx-auto mb-5" style="height: 0.5rem; width: 50%;"></span>
        <h2>Looking for a new challenge?</h2>
        <p class="mx-auto my-4" style="max-width: 36em">Connect your LinkedIn account or tell us a bit more about yourself below to explore possible pathways towards opportunities that exist today, and the green jobs that could exist in future.</p>
        <div class="d-sm-flex mx-sm-n2 mb-5 justify-content-center">
            <a href="{{ "quiz" | relative_url }}" class="btn btn-lg btn-rounded btn-primary d-block my-2 my-sm-0 mx-sm-2">Connect LinkedIn</a>
            <a href="{{ "quiz" | relative_url }}" class="btn btn-lg btn-rounded btn-secondary d-block my-2 my-sm-0 mx-sm-2">Answer a few questions</a>
        </div>
        <span class="d-block bg-white mx-auto mt-5" style="height: 0.5rem; width: 50%;"></span>
    </div>
    <div class="my-4 my-lg-5 text-center">
        <h2>Happy where you are?</h2>
        <p>Find out how you could green your current job.</p>
        <div class="d-sm-flex mx-sm-n2 justify-content-center">
            <a href="#" class="btn btn-lg btn-rounded btn-outline-secondary disabled d-block my-2 my-sm-0 mx-sm-2">Green my job</a>
        </div>
    </div>

</div>
