<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
    <title>{{ page.title | default: site.title | escape }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/static/css/all.css' | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
    <link rel="apple-touch-icon" href="{{ '/static/img/apple-touch-icon.png' | relative_url }}">
    <script type="module">document.documentElement.classList.remove('no-js'); document.documentElement.classList.add('js');</script>
</head>
<body>
    <header class="bg-white py-4 border-bottom">
        <h1 class="h2 text-center">
            <a href="{{ '/' | relative_url }}" class="text-green-500 text-decoration-none">Your Green Future</a>
        </h1>
    </header>
    {{ content }}
    <script type="module" src="{{ '/static/js/all.js' | relative_url }}"></script>
</body>
